@import './base.css';

.objects,
.visibility {
    background-color: rgb(183, 175, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 320px;
    min-height: 200px;
    margin-top: 40px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 360px;
    padding: 16px;
}

.navigation>*:not(:last-child) {
    margin-right: 20px;
}

.todolist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar-header>*:not(:last-child) {
    margin-right: 10px;
}


.sidebar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black gray;
    flex-grow: 1;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.cards-list {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.empty-list,
.empty-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 16px;
    color: black;
    padding-bottom: 60px;
}